body {
    background-image: url('nullscape2.png');
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    background-size:auto;
    background-attachment:fixed;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-top: 50px;
    font-weight:bolder;
    text-shadow: 5px 5px 10px #5900ff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #ff00ff;
    font-variant: small-caps;
    text-align: center;
    background: linear-gradient(45deg, #ff00ff, #00ffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1:hover {
    text-shadow: 10px 10px 20px #ff00ff;
    background: linear-gradient(45deg, #00ffff, #ff00ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1:hover {
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
    animation: wave 2s infinite;
}

@keyframes wave {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

/* heart */